---
import HomeLayout from 'src/layouts/HomeLayout.astro'
import App from 'components/App'
---

<HomeLayout>
  <div class="text-center font-extrabold text-black text-3xl md:text-5xl mb-10">
    Get curated show or movie recommendations with Open AI
  </div>
  <App client:only="react" />
</HomeLayout>
